.Container {
  background-color:#b0ada5;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  /* width: 200px;
  height: 400px; */
  color: black;
  padding: 5% 0%;
}

.Container h1{
  margin-bottom: 2%;
  font-size: 35px;
}

.input{
  background-color: white;
  margin: 0.5% 0;
  border: #4a4a48 solid;
}

.button{
  background-color: #4a4a48;
  color: black;
  margin: 0.7% 0;
  padding: 0px 50px;
  /* margin-left: 15%; */
}

.left{
  padding: 0px 7.5%;
}

.Container a{
  text-decoration: underline;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}

.messageContainer {
  overflow: scroll;
  height: 70vh;
  padding: 10px;
}